<!-- templates/home.html -->
{% extends 'base.html' %}
{% load auth_extras %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--<div id="navigation_links">-->
    <!--{% if request.user.is_authenticated %}-->
        <!--{% if request.user.first_name %}-->
            <!--<p class="hello-word">Hi {{ request.user.first_name }}! You are logged in !</p>-->
            <!--{% else %}-->
            <!--<p class="hello-word">Hi {{ request.user.username }}! You are logged in !</p>-->
            <!--{% endif %}-->

        <!--{% if request.user.is_superuser %}-->
            <!--<p>Other Users Logged in: {{ current_users }} </p>-->
            <!--{% endif %}-->
        <!--{% endif %}-->
    <!--</div>-->
    <div class="huge-button-div">

        <div style="text-align: center">
            <a class="huge-button" href="{% url 'surveyfiles:jxl_create_view' %}">JXL Validation (for Surveyors)</a>
        </div>

        <div style="text-align: center">
            <a class="huge-button" href="{% url 'surveyfiles:sketch_pdf_setup_view' %}">Job Sketch PDF Set Up</a>
        </div>

        <div style="text-align: center">
            <a class="huge-button" href="{% url 'surveyfiles:data_export_view' %}">Data Exporting</a>
        </div>


        {% if request.user.is_superuser %}
            <div style="text-align: center">
                <a class="huge-button" href="{% url 'surveyfiles:jxl_list_view' %}">Automation List</a>
            </div>
        {% endif %}

        <div style="text-align: center">
            <a class="huge-button" href="{% url 'surveyfiles:jxl_cards_view' %}">Automation Cards - Check Status</a>
        </div>

        {#        {% if request.user|is_ppp_automation_group or request.user.is_superuser %}#}
        <div style="text-align: center">
            <a class="huge-button" href="{% url 'surveyfiles:ppp_automation_view' %}">Create Transmittals (for PM)</a>
        </div>
        {#        {% endif %}#}

    </div>
{% endblock %}